{% load staticfiles %}
<!DOCTYPE html>

<head>

    <title>LOGIN</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Arsenal' rel='stylesheet'>

    <link rel="stylesheet " type="text/css" href="{% static 'music/login.css' %}">

</head>
<body>{{ error }}
<div class="container" id="con">
    <form  method="post" action="{% url 'music:auth' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div style="color: white"> {{ error }}</div>
        <div class="body">

            <h2>Login Here!</h2>
            <input type="text" class="form-control" placeholder="Username" required name="username">
            <input type="password" class="form-control" placeholder="Password" required name="password">
            <input type="submit" class="btn btn-primary btn btn-block">
        </div>
    </form>
</div>

<div class="container" id="cont">
    <div hidden class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Something not right mate!</strong>
    </div>
</div>

</body>
</html>